
@import "reset.css";

@font-face {
  font-family: 'Arial Black';
  font-weight: 900;

  src: url(../fonts/Arial-Black.ttf)
  format('truetype');
}


body {
  background-color: rgba(63, 30, 135, 1);
  font-family: 'Arial Black';
  box-sizing: border-box;
  color: #0B0000;
  overflow-x: hidden;
  cursor: url('../img/spider1.svg'), pointer;
  /* animation: techno 0.5s ease-in-out infinite; */
}

@keyframes techno {

  50% {
    background-color: black;
  }

}

html {
  overflow-x: hidden;
}


* {
  transition: all 500ms ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* first */

.first header {
  font-size: 40px;
  line-height: 40px;
}

.bar {
  margin: 8px 121px 311px 20px;
  animation: flicker-1 3s ease-in-out infinite;
}

.bar p {
  margin-top: 11px;
  margin-left: 1vw;
}

.phobiaproba {
  animation: flicker-1 4s ease-in-out infinite;
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

.phobiaproba header {
  text-align: center;
  margin-bottom: 166px;
  margin-left: 10px;
}

.phobiaproba p {
  margin-left: 70vw;
}

.first p {
  font-size: 12px;
  line-height: 130%;
}

.mouth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouth img {
  position: fixed;
  top: 32vw;
  z-index: -1;
  width: 70%;
  /* animation: pulse 3s ease infinite; */
}

/* second */

.second {
  position: relative;
}

.second header {
  font-size: 80px;
  line-height: 140%;
  text-align: center;
  color: #0B0000;
  animation: blink 8s ease-in-out infinite;
  /* transition: 5s ease-in-out; */

}

@keyframes blink {

  0% {
    color: #0B0000;
  }

  35% {
    transform: skewX(15deg) skewY(20deg) scale(1.7);
  }

  50% {
    color: white;
  }

  65% {
    transform: skewX(-15deg) skewY(-20deg) scale(1.7);
  }

  100% {
    color: #0B0000;
  }

}


/* .second header:hover {
  color: white;
  transform: rotate(360deg) scale(2);

} */


#snakehand {
  position: absolute;
  left: 15vw;
  width: 130vw;
  top: -52vw;
}

#spider1 {
  position: absolute;
  left: 10vw;
  width: 25vw;
  top: 1vw;
  animation: spider1 10s ease-in-out infinite;
}

@keyframes spider1 {
  10% {
    transform: rotate(3deg) translate(1vh,1vh);
  }

  20% {
    transform: rotate(-3deg) translate(-2vh,2vh);
  }

  30% {
    transform: rotate(3deg) translate(7vh,7vh);
  }

  40% {
    transform: rotate(-5deg) translate(-3vh,4vh);
  }

  50% {
    transform: rotate(25deg) translate(3vh,4vh);
  }

  60% {
    transform: rotate(50deg) translate(4vh,4vh);
  }

  70% {
    transform: rotate(40deg) translate(10vh,15vh);
  }

}

#spider2 {
  position: absolute;
  left: 60vw;
  width: 30vw;
  top: 30vw;
  animation: spider1 10s ease-in-out reverse infinite;
}

#spiderhand {
  position: absolute;
  right: 31vw;
  width: 130vw;
  top: 18vw;
}

/* third */

.third {
  position: relative;
  z-index: 1;
  user-select: none;
}

#violetspider {
  position: absolute;
  /* left: 247px; */
  top: 20vw;
  width: 30vw;
  left: 80vw;
  animation: violetspider 10s ease-in-out infinite;
}

/* #violetspider:hover,
#violetspider2:hover,
#yellowspider:hover,
#yellowspider2:hover,
#violetspider3:hover,
#violetspider4:hover,
#yellowspider3:hover,
#violetspider5:hover,
#yellowspider4:hover,
#violetspider6:hover
 {
  animation: shake 0.8s ease;
} */



#violetspider2 {
  position: absolute;
  top: 55vw;
  width: 30vw;
  left: 60vw;
  animation: violetspider 12s linear reverse infinite;
}

#yellowspider {
  position: absolute;
  left: 70vw;
  top: 60vw;
  width: 40vw;
  animation: violetspider 13s ease-in-out alternate infinite;
  animation-delay: 1s;
}

#yellowspider2 {
  position: absolute;
  width: 20vw;
  left: 30vw;
  top: 65vw;
  animation: violetspider 15s ease-in reverse infinite;
}

#violetsnake {
  position: absolute;
  left: 30vw;
  width: 50vw;
  top: 65vw;
  animation: snake 40s ease-in-out infinite;
}


#yellowsnake {
  position: absolute;
  left: 70vw;
  width: 20vw;
  top: 80vw;
  animation: snake 44s ease-in-out infinite;
}

#violetspider3 {
  position: absolute;
  left: 50vw;
  width: 30vw;
  top: 110vw;
  animation: violetspider 11s ease-in-out alternate infinite;
}

#violetspider4 {
  position: absolute;
  left: 10vw;
  width: 30vw;
  top: 80vw;
  animation: violetspider 17s ease-in-out reverse infinite;
}

#yellowspider3 {
  position: absolute;
  left: 1vw;
  width: 15vw;
  top: 100vw;
  animation: violetspider 20s ease-in-out infinite;
}

#violetspider5 {
  position: absolute;
  left: -10vw;
  width: 40vw;
  top: 80vw;
  animation: violetspider 12s ease-in-out reverse infinite;
}

#yellowspider4 {
  position: absolute;
  left: 20vw;
  width: 30vw;
  top: 110vw;
  animation: violetspider 18s ease-in-out infinite;
}

#violetspider6 {
  position: absolute;
  left: 1vw;
  width: 30vw;
  top: 105vw;
  animation: violetspider 10s ease-in-out reverse infinite;
}

@keyframes violetspider {
  10% {
    transform: translate(-1vh, 1vh) rotate(0);
  }

  20% {
    transform: translate(-2vh, 2vh) rotate(10deg);
  }

  30% {
    transform: translate(-3vh, 2vh) rotate(-10deg);
  }

  40% {
    transform: translate(-4vh, 4vh) rotate(-20deg);
  }

  50% {
    transform: translate(-6vh, 5vh) rotate(20deg) scale(1.1);
  }

  60% {
    transform: translate(-8vh, 8vh) rotate(0deg);
  }

  70% {
    transform: translate(-6vh, 5vh) rotate(160deg);
  }

  80% {
    transform: translate(-4vh, 4vh) rotate(200deg);
  }

  90% {
    transform: translate(-3vh, 2vh) rotate(230deg);
  }

  100% {
    transform: translate(0vh, 0vh) rotate(0);
  }

}

@keyframes snake {

  5% {
    transform: skewX(10deg);
  }

  10% {
    transform: translateY(6vw);
  }

  15% {
    transform: skewX(20deg) translateY(10vw);
  }

  20% {
    transform: skewX(-10deg) translateY(14vw);
  }

  25% {
    transform: skewX(20deg) translateY(18vw);
  }

  30% {
    transform: skewX(-10deg) translateY(22vw);
  }

  35% {
    transform: skewX(10deg) translateY(26vw);
  }

  40% {
    transform: skewX(-10deg) translateY(30vw);
  }

  45% {
    transform: skewX(10deg) translateY(34vw);
  }

  50% {
    transform: translateY(34vw) rotate(180deg);
  }

  55% {
    transform: skewX(10deg) translateY(34vw) rotate(180deg);
  }

  60% {
    transform: skewX(-10deg) translateY(30vw) rotate(180deg);
  }

  65% {
    transform: skewX(10deg) translateY(26vw) rotate(180deg);
  }

  70% {
    transform: skewX(0deg) translateY(22vw) rotate(180deg);
  }

  75% {
    transform: skewX(10deg) translateY(18vw) rotate(180deg);
  }

  80% {
    transform: skewX(-10deg) translateY(14vw) rotate(180deg);
  }

  85% {
    transform: skewX(20deg) translateY(10vw) rotate(180deg);

  }

  90% {
    transform: translateY(6vw) rotate(180deg);
  }

  95% {
    transform: skewX(10deg) rotate(180deg);
  }

}

/* footer */

footer {
  background: #0B0000;
  margin-top: 330px;
  overflow-x: hidden;
}

footer p {
  width: 520px;
  font-size: 20px;
  line-height: 28px;
  color: #E95645;
  padding-top: 0px;
  text-align: center;
  width: 120vw;
  margin-left: -50vw;
  inline-size: max-content;
  animation: move 10s ease-in-out infinite;
  transition: 1.5s ease-in-out;
  user-select: none;
}

#one,
#three,
#five,
#seven,
#nine {
  animation: movereverse 10s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translateX(-5%);
  }

  50% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(-5%);
  }
}

@keyframes movereverse {

  0% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(5%);
  }

}

footer p:hover {
  color: #4F238F;
  font-size: 325%;
  user-select: none;

}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: #5C3EAF;
}

footer span {
  color: #E95645;
  font-size: 8px;
  line-height: 150%;
  margin-left: 2px;
  margin-right: 2px;
}

.phobia {
  padding-top: 5px;
  z-index: 0;
  position: relative;
}

/* 375px */

@media (min-width: 375px) {

  .phobiaproba {
    margin-top: 80px;
    margin-right: 22px;

  }

  .phobiaproba header {
    text-align: right;
    margin-bottom: 180px;
    margin-left: 10px;
  }

  .phobiaproba p {
    margin-left: 71vw;
  }

  .bar {
    margin: 8px 121px 311px 22px;
  }

  /* #snakehand {
    position: absolute;
    left: 15vw;
    width: 130vw;
    top: -52vw;
  }

  #spider1 {
    left: 22px;
    width: 80px;
    top: 20px;
  }

  #spider2 {
    left: 210px;
    width: 120px;
    top: 65px;
    animation: spider1 10s ease-in-out reverse infinite;
  }

  #spiderhand {
    width: 450px;
    top: 70px;
  } */

  footer span {
    margin-left: 8px;
    margin-right: 8px;
  }

}

@media (min-width: 375px) and (min-height: 812px) {

  .mouth img {
    position: fixed;
    top: 45vw;
    z-index: -1;
    width: 70%;
  }

  .phobiaproba {
    margin-top: 174px;
    margin-right: 22px;
  }

}

@media (min-width: 414px) {

  /* .mouth img {
    width: 65%;
  } */

  .first header {
    font-size: 48px;
    line-height: 48px;
  }

  .first p {
    font-size: 14px;
    line-height: 130%;
  }


  .phobiaproba {
    margin-top: 30vw;
    margin-right: 22px;

  }

  .phobiaproba header {
    text-align: right;
    margin-bottom: 40vh;
    margin-left: 10px;
  }

  /* .phobiaproba p {
    margin-left: 71vw;
  } */

  .bar {
    margin: 8px 121px 311px 22px;
  }

  #snakehand {
    top: -64vw;
  }

  /* #spider1 {
    left: 22px;
    width: 90px;
    top: 20px;
  }

  #spider2 {
    left: 210px;
    width: 130px;
    top: 65px;
    animation: spider1 10s ease-in-out reverse infinite;
  } */

  #spiderhand {
    top: 12vw;
  }

  footer {
    margin-top: 100vw;
  }

  footer span {
    margin-left: 19px;
    margin-right: 19px;
  }

}

@media (min-width: 414px) and (min-height: 896px) {

  .mouth img {
    position: fixed;
    top: 50vw;
    z-index: -1;
    width: 70%;
  }

  .phobiaproba {
    margin-top: 243px;
    margin-right: 22px;
  }


}

@media (min-width: 768px) {

  .mouth img {
    width: 55%;
    top: 28vw;
  }

  .first header {
    font-size: 100px;
    line-height: 100%;
  }

  .first p {
    font-size: 20px;
  }

  .phobiaproba {
    margin-top: 26vw;
    margin-right: 22px;
  }

  .phobiaproba header {
    text-align: right;
    margin-bottom: 48vh;
    margin-left: 10px;
  }


  .phobiaproba p {
    margin-left: 560px;
  }

  .bar {
    margin: 8px 121px 311px 26px;
  }

  .bar p {
    margin-top: 20px;
  }

  .second {
    margin-top: 64vw;
  }

  .second header {
    font-size: 165px;
    line-height: 110%;

  }

  /* #snakehand {
    left: 35vw;
    width: 700px;
    top: -294px;
  }

  #spider1 {
    left: 22px;
    width: 25vw;
    top: 20px;
  }

  #spider2 {
    left: 70vw;
    width: 20vw;
    top: 350px;
  } */

  #spiderhand {
    top: -2vw;
  }
/*
  #violetspider {
    top: 180px;
    width: 25vw;
    left: 90vw;
  }

  #violetspider2 {
    top: 250px;
    width: 25vw;
    left: 70vw;
  }

  #yellowspider {
    left: 80vw;
    top: 300px;
    width: 30vw;
  }

  #yellowspider2 {
    width: 20vw;
    left: 40vw;
    top: 320px;
  }

  #violetsnake {
    left: 40vw;
    width: 35vw;
    top: 330px;
  }


  #yellowsnake {
    left: 75vw;
    width: 20vw;
    top: 410px;
  }

  #violetspider3 {
    left: 60vw;
    width: 25vw;
    top: 450px;
  }

  #violetspider4 {
    left: 20vw;
    width: 25vw;
    top: 340px;
  }

  #yellowspider3 {
    left: 11vw;
    width: 25vw;
    top: 380px;
  }

  #violetspider5 {
    left: 0vw;
    width: 30vw;
    top: 410px;
  }

  #yellowspider4 {
    left: 30vw;
    width: 25vw;
    top: 455px;
  }

  #violetspider6 {
    left: 11vw;
    width: 25vw;
    top: 500px;
  } */

  footer {
    margin-top: 115vw;
  }

  footer p {
    font-size: 29px;
    line-height: 41px;
  }

  footer span {
    font-size: 14px;
    line-height: 150%;
    margin-left: 30px;
    margin-right: 30px;
  }

}

@media (min-width: 1024px) {

  .mouth img {
    top: -44vw;
    width: 65%;
  }

  .first header {
    font-size: 110px;
    line-height: 100%;
  }

  .first p {
    font-size: 24px;
  }

  .phobiaproba {
    margin-top: -12vw;
    margin-right: 50px;

  }

  .phobiaproba header {
    text-align: right;
    margin-bottom: 300px;
    margin-left: 10px;
  }

  .phobiaproba p {
    margin-left: 75vw;
  }

  .bar {
    margin: 8px 121px 311px 50px;
  }

  .bar p {
    margin-top: 30px;
  }

  .second {
    margin-top: 62vw;
    margin-bottom: 35vw;
  }

  .second header {
    font-size: 170px;
    line-height: 100%;
  }

  #spiderhand {
    top: -18vw;

  }

  #violetspider {
    top: 20vw;
    width: 25vw;
    left: 85vw;
  }

  #violetspider2 {
    top: 25vw;
    width: 25vw;
    left: 65vw;
  }

  #yellowspider {
    left: 75vw;
    top: 34vw;
    width: 30vw;
  }

  #yellowspider2 {
    width: 20vw;
    left: 35vw;
    top: 30vw;
  }

  #violetsnake {
    left: 35vw;
    width: 30vw;
    top: 20vw;
  }


  #yellowsnake {
    left: 70vw;
    width: 15vw;
    top: 25vw;
  }

  #violetspider3 {
    left: 55vw;
    width: 25vw;
    top: 450px;
  }

  #violetspider4 {
    left: 15vw;
    width: 25vw;
    top: 45vw;
  }

  #yellowspider3 {
    left: 6vw;
    width: 25vw;
    top: 30vw;
  }

  #violetspider5 {
    left: -5vw;
    width: 30vw;
    top: 30vw;
  }

  #yellowspider4 {
    left: 25vw;
    width: 25vw;
    top: 40vw;
  }

  #violetspider6 {
    left: 6vw;
    width: 25vw;
    top: 45vw;
  }

  footer {
    margin-top: 85vw;
  }

  footer p {
    font-size: 36px;
    line-height: 51px;

  }

  footer span {
    font-size: 14px;
    line-height: 150%;
    margin-left: 30px;
    margin-right: 30px;
  }

}

@media (min-width: 1280px) {

  .mouth img {
    top: -37vw;
    width: 54%;
  }

  .first header {
    font-size: 110px;
    line-height: 100%;
  }

  .first p {
    font-size: 24px;
  }

  .phobiaproba {
    margin-top: -7vw;
    margin-right: 50px;

  }

  .phobiaproba header {
    text-align: right;
    margin-bottom: 300px;
    margin-left: 10px;
  }

  .phobiaproba p {
    margin-left: 80vw;
  }

  .bar {
    margin: 8px 121px 311px 50px;
  }

  .bar p {
    margin-top: 30px;
  }

  .second {
    margin-top: 23vw;
  }

  .second header {
    font-size: 150px;
    line-height: 100%;
  }

  #snakehand {
    left: 51vw;
    width: 900px;
    top: -24vw;
  }

  #spider1 {
    left: 22px;
    width: 25vw;
    top: 20px;
  }

  #spider2 {
    left: 70vw;
    width: 20vw;
    top: 350px;
  }

  #spiderhand {
    width: 900px;
    top: -4vw;
    left: -30vw;
  }


  #violetspider {
    width: 22vw;
  }

  #violetspider2 {
    width: 22vw;
  }

  #yellowspider {
    width: 27vw;
  }

  #yellowspider2 {
    width: 17vw;
  }

  #violetsnake {
    width: 27vw;
  }


  #yellowsnake {
    width: 12vw;
  }

  #violetspider3 {
    width: 22vw;
  }

  #violetspider4 {
    width: 22vw;
  }

  #yellowspider3 {
    width: 22vw;
  }

  #violetspider5 {
    width: 27vw;
  }

  #yellowspider4 {
    width: 22vw;
  }

  #violetspider6 {
    width: 22vw;
  }

  .second {
    margin-bottom: 4vw;
  }

  footer {
    margin-top: 50vw;
  }

  footer p {
    font-size: 36px;
    line-height: 51px;

  }

  footer span {
    font-size: 14px;
    line-height: 150%;
    margin-left: 30px;
    margin-right: 30px;
  }

}

@media (min-width: 1366px) {

  .mouth img {
    top: -37vw;
    width: 52%;
  }

  .phobiaproba {
    margin-top: -9vw;
    margin-right: 50px;
  }

  .phobiaproba p {
    margin-left: 81vw;
  }

   #spiderhand {
    width: 900px;
    top: -6vw;
    left: -21vw;
  }

  footer {
  margin-top: 55vw;
  }

}

@media (min-width: 1440px) {

  .mouth img {
    top: -33vw;
    width: 47%;
  }

  .phobiaproba {
    margin-top: -11vw;
    margin-right: 50px;
  }

  .phobiaproba p {
    margin-left: 82vw;
  }

  .second {
    margin-top: 26vw;
  }

  #snakehand {
    left: 53vw;
  }

  #spiderhand {
    width: 900px;
    top: -6vw;
    left: -17vw;
  }

  footer {
    margin-top: 60vw;
  }

}

@media (min-width: 1680px) {

  .phobiaproba {
    margin-top: 3vw;
    margin-right: 50px;
  }

  #snakehand {
    left: 60vw;
  }

  #spiderhand {
    width: 900px;
    top: -6vw;
    left: -15vw;
  }

  #spider1 {
    left: 180px;
    width: 25vw;
    top: 20px;
  }

  #spider2 {
    left: 64vw;
    width: 20vw;
    top: 350px;
  }


}

@media (min-width: 1920px) {

  .phobiaproba {
    margin-top: 6vw;
    margin-right: 50px;
  }

  #snakehand {
    left: 65vw;
  }

}
